<h1>Rock Paper Scissors</h1>
<h3>Rules</h3>
<p><ol>
<li>Paper beats rock.</li>
<li>Rock beats scissors.</li>
<li>Scissors beat paper.</li>
</ol>
<a href="/play/rock/scissors">Back to the game</a>
</p>
